<div class="container">

<h2>my rentals </h2>
<div class="card-deck">
  <div class="card">
  <div class="row">
    <% @rentals.each do |rental| %>
      <div class="col-sm-4">
        <div class="card-product card-dashboard">
          <%= link_to item_path(rental.item.id) do %>
            <div>
              <%= cl_image_tag(rental.item.photo) %>
            </div>
          <% end %>
          <div class="card-product-infos">
            <div class="card-title">
             <h2><%= link_to rental.item.name,item_path(rental.item.id) %></h2>
            </div>
            <div class="card-text">
            <p> You booked this item:
              <%= rental.start_date %> to <%= rental.end_date %></p>
            </div>
            <p> Status of your booking:</p>
            <div class = "status">
              <%= simple_form_for(rental) do |f| %>
                <%= select_tag "status", options_for_select(Rental::STATUS, rental.status) %>
                <%= f.label, label: ("<i class='far fa-edit'></i>").html_safe %>
              <% end %>
            </div>
            <div id="btn">
              <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, rental_path(rental), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>

<h2>my items </h2>
  <div class="card-deck">
    <div class="card">
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-sm-4">
          <div class="card-product card-dashboard">
            <div>
              <%= cl_image_tag(item.photo) %>
            </div>
            <div class="card-product-infos">
              <h2><%= item.name %></h2>
                <p>Product description with <strong>relevant info</strong> only.</p>
                  <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



