<div class="container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


  <% @items.each do |item| %>
    <div class="card-product">
     <%= link_to item_path(item) do %>
      <div>
        <%= cl_image_tag(item.photo) %>
      </div>
      <div class="card-product-infos">
        <h2><%= item.name %></h2>
      <% end %>
        <p>Product description with <strong>relevant info</strong> only.</p>
        <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>


    </div>
  <% end %>
  <%= link_to "create new",  new_item_path(@items) %>
  <%= link_to "Home Page",  root_path %>
</div>
