  <div class="banner" id="my-index-banner" style="background-image: url(https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  </div>

<div class="container container-height mt-4">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-4">
        <div class="card-product">
          <%= link_to item_path(item) do %>
          <%= cl_image_tag(item.photo, class:"card-picture") %>
          <div class="card-product-infos">
            <h2><%= truncate(item.name, {length: 35}) %></h2>
            <% end %>
            <p><%= truncate(item.description, {length: 50}) %></p>
            <h2 class="card-trip-pricing">$<%= item.price %></h2>
            <a style="color:white" href="#aboutModal" data-toggle="modal" data-target="#user-modal-<%= item.user.id %>">
              <%= cl_image_tag(item.user.photo, class:"avatar") %>
           </a>
          </div>
        </div>
        <!-- <span class="span3 well"></span> -->
      </div>
      <%= render partial: 'shared/profile-pop', locals: { user: item.user } %>
    <% end %>
  </div>
</div>



