<h1><%= @item.name %></h1>

<p><%= @item.image_url %></p>
<p>Description: <%= @item.description %></p>
<p>Price: <%= @item.price %></p>
<p>Location: <%= @item.location %></p>
<p>Condition: <%= @item.condition %></p>
<p>Deposit: <%= @item.deposit %></p>
<p>Delivery: <%= @item.delivery %></p>
<p>Policies: <%= @item.policies %></p>

<%= simple_form_for [@item, @rental] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "book" %>
<% end %>

<%= link_to "Return", items_path %>
